<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(css|js|png|jpg|gif|woff2|woff|ttf)$ - [L]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(index\.php|robots\.txt)$ - [L]

RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/(.*)$ ?core=$1&action=$2&$3 [L,QSA]
RewriteRule ^([a-zA-Z0-9]+)/(.*)$ ?core=$1&$2 [L,QSA]

</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>

    </IfModule>
</IfModule>